@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: black;
}

.placeholder-bold {
  font-weight: bold;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for other browsers */
.scrollbar-hidden {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

